//main

.cm-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    &__jumbotron {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__jumbotron--fh {
        flex-grow: 1;
    }
}
